<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 타입 별칭 지정===================  --> 
<!-- 	<typeAliases>
		<typeAlias type="com.tis.user.model.UserVO" alias="User"/>
	
	</typeAliases>
	 -->
	<!-- mapper파일 등록================= -->
	<mappers>
		<mapper resource="spring/mapper/UserMapper.xml"/>
		<mapper resource="spring/mapper/BoardMapper.xml"/>
		<mapper resource="spring/mapper/MeetingMapper.xml"/>
		<mapper resource="spring/mapper/MainMapper.xml"/>
	</mappers>
	
	
	
		
</configuration>